@inherits LayoutComponentBase
@inject ISessionService SessionService

@code {
    public User CurrentUser { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await SessionService.GetOrCreateUserAsync();
    }

}

<div class="main-layout">
    <main class="main-content">
        <CascadingValue Value="CurrentUser" IsFixed="true">
            @Body
        </CascadingValue>
        <span class="made-by">
            Made with ❤ by <a href="https://github.com/Muddi-Markt/DramaMeter" target="_blank">Max</a>
        </span>
    </main>

</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>